@{
    ViewData["Title"] = "登入​成功";
}

<!-- home-index 用來避免這一頁的自訂樣式覆蓋到別頁用的，詳細請看 wwwroot\css\views\home-index.css 的說明 -->
<div class="home-index container-fluid px-4 text-center pt-5">

    <img src="~/images/home-index.png" />
    <h1 class="mt-3">登入​成功​</h1>
    <h5 class="mt-2 text-secondary">請選擇​左側功​能​選單，​開始​管理​</h5>

</div>


@* 需要自訂這一頁的樣式再打開註解使用，不需要自訂請刪除 *@
@* @section Styles {
    <link href="~/css/views/home-index.css" rel="stylesheet" />
} *@

@section Scripts {
    <script src="~/js/views/home-index.js"></script>
}
